:host{
  display: flex;
  flex-direction: column;
}

.wrapper{
  height: 1000px;
  width: 800px;
  margin: auto;

  app-monaco-editor {
    margin: auto;
    display: block;
    height: 600px;
    width: 800px;
  }
}



